html {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.nav {margin: 0; padding: 0; list-style: none;}
.nav  li {display: inline-block;}
.nav-top .current {
    background-color: black;
    color: white;
}
.nav-top {font-size: 2em;}
